<!-- src/app/pages/add-item/add-item.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Add Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addItemForm" (ngSubmit)="onAddItem()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Latitude</ion-label>
      <ion-input type="number" formControlName="latitude" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Longitude</ion-label>
      <ion-input type="number" formControlName="longitude" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Picture</ion-label>
      <ion-input type="text" formControlName="picture" readonly></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="takePicture()">Take Picture</ion-button>
    <ion-button expand="full" type="submit">Add Item</ion-button>
  </form>
</ion-content>