/* src/app/pages/account-settings/account-settings.page.scss */
.account-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 8px;
    }

    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      --inner-padding-end: 0;
      --inner-padding-start: 0;
      --padding-top: 0;
      --padding-bottom: 0;
      --border-radius: 50%;
    }
  }

  form {
    width: 100%;
    max-width: 500px;

    ion-item {
      margin-bottom: 16px;
    }
  }
}
